<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuyStockOutMapper">

    <!-- BuyStockOut에 대한 resultMap -->
    <resultMap id="resultBuyStockOut" type="com.e3i3.moduerp.buystock.model.dto.BuyStockOutDTO">
    	<result property="bStockOutId" column="B_STOCK_OUT_ID" />
    	<result property="itemCode" column="ITEM_CODE" />
    	<result property="uuid" column="UUID" />
    	<result property="accountNo" column="ACCOUNT_NO" />
    	<result property="bankId" column="BANK_ID" />
    	<result property="bStockOutDate" column="B_STOCK_OUT_DATE" />
    	<result property="bStockOutPlace" column="B_STOCK_OUT_PLACE" />
   	 	<result property="bStockOutQty" column="B_STOCK_OUT_QTY" />
	</resultMap>

    
	<select id="selectAllBuyStockOuts"
		resultMap="resultBuyStockOut">
		SELECT DISTINCT * FROM BUY_STOCK_OUT
	</select>
	
	
</mapper>
