<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuyStockMapper">

    <!-- BuyStockIn에 대한 resultMap -->
    <resultMap id="resultBuyStockIn" type="com.e3i3.moduerp.buystock.model.dto.BuyStockInDTO">
        <result property="bStockInId" column="B_STOCK_IN_ID" />
        <result property="itemCode" column="ITEM_CODE" />
        <result property="uuid" column="UUID" />
        <result property="accountNo" column="ACCOUNT_NO" />
        <result property="orderId" column="ORDER_ID" />
        <result property="bStockInDate" column="B_STOCK_IN_DATE" />
        <result property="bStockInPlace" column="B_STOCK_IN_PLACE" />
        <result property="bStockInQty" column="B_STOCK_IN_QTY" />
        <result property="empName" column="EMP_NAME" /> 
    </resultMap>
    
    <!-- 모든 구매 입고 데이터 조회용 쿼리 -->
    <select id="getAllBuyStockIn" resultMap="resultBuyStockIn"> 
        SELECT DISTINCT B_STOCK_IN_ID, ITEM_CODE, UUID, ACCOUNT_NO,
            ORDER_ID, B_STOCK_IN_DATE, B_STOCK_IN_PLACE, B_STOCK_IN_QTY, EMP_NAME
        FROM BUY_STOCK_IN
    </select>

   <!-- 새로운 구매 입고 데이터를 삽입하는 쿼리 -->
	<insert id="insertBuyStockIn">
		INSERT INTO BUY_STOCK_IN (B_STOCK_IN_ID,
		ITEM_CODE, B_STOCK_IN_DATE,
		B_STOCK_PLACE, B_STOCK_IN_QTY, UUID)
		VALUES
		(#{bStockInId}, #{itemCode}, #{bStockInDate}, #{bStockPlace},
		#{bStockInQty}, #{uuid})
	</insert>

	<select id="selectBuyStockInByItemCode"
		parameterType="String"
		resultType="com.e3i3.moduerp.buystock.model.dto.BuyStockInDTO">
		SELECT * FROM Buy_STOCK_IN WHERE ITEM_CODE =
		#{itemCode}
	</select>

	<update id="updateBuyStockIn"
		parameterType="com.e3i3.moduerp.buystock.model.dto.BuyStockInDTO">
		UPDATE BUY_STOCK_IN
		SET b_STOCK_PLACE =
		#{bStockPlace}, B_STOCK_IN_QTY = #{bStockInQty}
		WHERE ITEM_CODE =
		#{itemCode}
	</update>

	<delete id="deleteBuyStockInByItemCode"
		parameterType="String">
		DELETE FROM BUY_STOCK_IN WHERE ITEM_CODE =
		#{itemCode}
	</delete>
</mapper>
