<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuyStockOutMapper">

    <!-- BuyStockOut에 대한 resultMap -->
   <resultMap id="buyStockOutResult" type="com.e3i3.moduerp.buystock.model.dto.BuyStockOutDTO">
    <result property="bStockOutId" column="B_STOCK_OUT_ID" />
    <result property="itemCode" column="ITEM_CODE" />
    <result property="uuid" column="UUID" />
    <result property="bStockOutDate" column="B_STOCK_OUT_DATE" />
    <result property="bStockOutPlace" column="B_STOCK_OUT_PLACE" />
    <result property="bStockOutPrice" column="B_STOCK_OUT_PRICE" />
    <result property="bStockOutUpdate" column="B_STOCK_OUT_UPDATE" />
    <result property="oDirector" column="ODIRECTOR" />
</resultMap>


    
	<select id="selectAllBuyStockOuts"
		resultMap="buyStockOutResult">
		SELECT DISTINCT * FROM BUY_STOCK_OUT
		
	</select>
	
	<select id="selectBuyStockOutByBStockId" parameterType="String" resultType="com.e3i3.moduerp.buystock.model.dto.BuyStockOutDTO">
    SELECT * FROM BUY_STOCK_OUT WHERE B_STOCK_OUT_ID = #{bStockOutId}
</select>
	

	<insert id="insertBuyStockOut"
		parameterType="BuyStockOutDTO">
		INSERT INTO BUY_STOCK_OUT (
		B_STOCK_OUT_ID,
		ITEM_CODE, B_STOCK_OUT_DATE, B_STOCK_OUT_PLACE, B_STOCK_OUT_QTY, UUID,
		B_STOCK_OUT_PRICE, ODIRECTOR
		) VALUES (
		#{bStockOutId}, #{itemCode},
		#{bStockOutDate},
		#{bStockOutPlace}, #{bStockOutQty},
		#{uuid},
		#{bStockOutPrice},
		#{oDirector}
		)
	</insert>

	<select id="selectBuyStockOutByItemCode"
		parameterType="String"
		resultType="com.e3i3.moduerp.buystock.model.dto.BuyStockOutDTO">
		SELECT * FROM BUY_STOCK_OUT WHERE ITEM_CODE =
		#{itemCode}
	</select>


	<!-- 출고 정보를 업데이트하는 쿼리 -->
	<update id="updateBuyStockOut"
		parameterType="com.e3i3.moduerp.buystock.model.dto.BuyStockOutDTO">
		UPDATE BUY_STOCK_OUT
		SET B_STOCK_OUT_UPDATE =
		#{bStockOutUpdate},
		B_STOCK_OUT_PLACE = #{bStockOutPlace},
		B_STOCK_OUT_QTY = #{bStockOutQty},
		B_STOCK_OUT_PRICE =
		#{bStockOutPrice},
		UUID = #{uuid}
		WHERE B_STOCK_OUT_ID = #{bStockOutId}
	</update>

	<!-- 특정 itemCode의 출고 총합 계산 (STOCK_OUT_QTY 합계) -->
	<select id="getTotalStockOutByItemCode" parameterType="String"
		resultType="int">
		SELECT SUM(B_STOCK_OUT_QTY)
		FROM BUY_STOCK_OUT
		WHERE
		ITEM_CODE = #{itemCode}
	</select>

	<!-- 삭제 -->
	<delete id="deleteBuyStockOut" parameterType="String">
		DELETE FROM
		BUY_STOCK_OUT WHERE B_STOCK_OUT_ID = #{bStockOutId}
	</delete>

	<!-- 가장 최근의 출고 기록을 조회하는 쿼리 -->
	<select id="selectMostRecentStockOutDetails"
		parameterType="String" resultMap="buyStockOutResult">
		SELECT *
		FROM BUY_STOCK_OUT
		WHERE ITEM_CODE = #{itemCode}
		ORDER BY B_STOCK_OUT_DATE DESC
		FETCH FIRST 1 ROWS ONLY
	</select>	
	
</mapper>
