<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="CarMapper">
 	<resultMap id="resultCar" type="com.e3i3.moduerp.car.model.dto.CarDto">
 		<result property="carId" column="CAR_ID" />
 		<result property="carModel" column="CAR_MODEL" />
 		<result property="ownershipStatus" column="OWNERSHIP_STATUS" />
 		<result property="carNum" column="CAR_NUM" />
 		<result property="bizNumber" column="BIZ_NUMBER" />
 		<result property="YN" column="YN" />
 		<result property="imagePath" column="IMAGE_PATH" />
 	</resultMap>
 	
 	
 	
 	<select id="getAllCar" resultMap="resultCar">
    	select * from CAR
    	where YN = 'Y' AND BIZ_NUMBER = #{bizNumber}
    	ORDER BY CAR_MODEL DESC
	</select>
	
	<insert id="insertCar" parameterType="com.e3i3.moduerp.car.model.dto.CarDto">
    	INSERT INTO car (CAR_ID, CAR_NUM, CAR_MODEL, OWNERSHIP_STATUS, BIZ_NUMBER, IMAGE_PATH)
    	VALUES (#{carId}, #{carNum}, #{carModel}, #{ownershipStatus}, #{bizNumber}, #{imagePath})
	</insert>
	
	<select id="selectCarId" parameterType="String" 
		resultType="com.e3i3.moduerp.car.model.dto.CarDto">
		SELECT *
		FROM CAR WHERE CAR_ID = #{carId}
	</select>
	
	<update id="updateCar"
		parameterType="com.e3i3.moduerp.car.model.dto.CarDto">
		UPDATE CAR
		SET CAR_NUM = #{carNum},
		CAR_MODEL = #{carModel},
		OWNERSHIP_STATUS = #{ownershipStatus},
		IMAGE_PATH = #{imagePath}
		WHERE CAR_ID = #{carId}
	</update>
	
	<delete id="deleteCar"
		parameterType="String">
		UPDATE CAR
		SET YN = 'N'
		WHERE CAR_ID = #{carId}
	</delete>
	
	<select id="selectCarByCarModel" parameterType="map"
		resultType="com.e3i3.moduerp.car.model.dto.CarDto">
		SELECT *
		FROM CAR
		WHERE CAR_ID LIKE #{bizNumber} || 'C%'
		AND
		CAR_MODEL LIKE '%' || #{filterText} || '%'
		AND
		YN = 'Y'
		ORDER BY CAR_MODEL DESC
	</select>
	
	<select id="selectCarByCarNum" parameterType="map"
		resultType="com.e3i3.moduerp.car.model.dto.CarDto">
		SELECT *
		FROM CAR
		WHERE CAR_ID LIKE #{bizNumber} || 'C%'
		AND
		CAR_NUM LIKE '%' || #{filterText} || '%'
		AND YN = 'Y'
		ORDER BY CAR_MODEL DESC
	</select>
	
	<select id="selectCarByOwnershipStatus" parameterType="map"
		resultType="com.e3i3.moduerp.car.model.dto.CarDto">
		SELECT *
		FROM CAR
		WHERE CAR_ID LIKE #{bizNumber} || 'C%'
		AND
		OWNERSHIP_STATUS LIKE '%' || #{filterText} || '%'
		AND YN = 'Y'
		ORDER BY CAR_MODEL DESC
	</select>

 </mapper>