<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="CarMapper">
 	<resultMap id="resultCar" type="com.e3i3.moduerp.car.model.dto.CarDto">
 		<result property="carId" column="CAR_ID" />
 		<result property="carModel" column="CAR_MODEL" />
 		<result property="ownershipStatus" column="OWNERSHIP_STATUS" />
 	</resultMap>
 	
 	
 	
 	<select id="getAllCar" resultMap="resultCar">
    	select * from CAR
	</select>
	
	<insert id="insertCar" parameterType="com.e3i3.moduerp.car.model.dto.CarDto">
    	INSERT INTO car (CAR_ID, CAR_MODEL, OWNERSHIP_STATUS)
    	VALUES (#{carId}, #{carModel}, #{ownershipStatus})
	</insert>
	
	<select id="selectCarId" parameterType="String" 
		resultType="com.e3i3.moduerp.car.model.dto.CarDto">
		SELECT * FROM CAR WHERE CAR_ID = #{carId}
	</select>

 </mapper>