<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeliveryMapper">

	<!-- 아이템 정보를 매핑하기 위한 resultMap -->
	<resultMap id="deliveryResultMap"
		type="com.e3i3.moduerp.delivery.model.dto.DeliveryDTO">
		<id property="deliveryId" column="DELIVERY_ID" />
		<result property="itemCode" column="ITEM_CODE" />
		<result property="spec" column="SPEC" />
		<result property="receiverId" column="RECEIVER_ID" />
		<result property="address" column="ADDRESS" />
		<result property="deliveryType" column="DELIVERY_TYPE" />
		<result property="key" column="KEY" />
		<result property="deliveryDate" column="DELIVERY_DATE" />
		<result property="inDate" column="IN_DATE" />
		<result property="upDate" column="UP_DATE" />
		<result property="recipient" column="RECIPIENT" />
		<result property="waybill" column="WAYBILL" />
		<result property="deliveryCompany" column="DELIVERYCOMPANY" />
	</resultMap>

	<select id="getAllDeleveryTableList" parameterType="String"
		resultMap="deliveryResultMap">
		SELECT *
		FROM DELIVERY D
		JOIN ITEM I on D.ITEM_CODE =
		I.ITEM_CODE
	</select>

	<select id="selectItemNamesByBizNumber" parameterType="String"
		resultType="String">
		SELECT ITEM_NAME
		FROM ITEM
		WHERE BIZ_NUMBER = #{bizNumber}
	</select>

	<select id="selectStockPlacesByBizNumber" parameterType="String"
		resultType="String">
		SELECT DISTINCT STOCK_PLACE
		FROM ITEM
		WHERE BIZ_NUMBER =
		#{bizNumber}
	</select>

	<insert id="insertDelivery"
		parameterType="com.e3i3.moduerp.delivery.model.dto.DeliveryDTO">
		INSERT INTO delivery (DELIVERY_ID, ITEM_CODE, SPEC,
		RECEIVER_ID, ADDRESS,
		DELIVERY_TYPE, KEY,
		DELIVERY_DATE, IN_DATE,
		UP_DATE, RECIPIENT, WAYBILL, DELIVERYCOMPANY)
		VALUES (#{deliveryId},
		#{itemCode}, #{spec}, #{receiverId}, #{address},
		#{deliveryType},
		#{key},
		#{deliveryDate}, #{inDate}, #{upDate}, #{recipient},
		#{waybill}, #{deliveryCompany})
	</insert>

	<select id="getItemItemCode" parameterType="String"
		resultType="String">
		SELECT ITEM_CODE
		FROM ITEM
		WHERE BIZ_NUMBER = #{bizNumber}
	</select>

	<select id="selectDeliveryByItemCode" parameterType="String"
		resultType="com.e3i3.moduerp.delivery.model.dto.DeliveryDTO">
		SELECT * FROM ITEM I 
		LEFT JOIN DELIVERY D ON D.ITEM_CODE = I.ITEM_CODE 
		WHERE I.ITEM_CODE = #{itemCode}

	</select>


</mapper>
