<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmailMapper">

    <!-- 이메일 정보를 매핑하기 위한 resultMap -->
    <resultMap id="resultEmail" type="com.e3i3.moduerp.email.model.dto.Email">
        <id property="emailId" column="email_id" />
        <result property="senderEmail" column="sender_email" />
        <result property="recipientEmail" column="recipient_email" />
        <result property="subject" column="subject" />
        <result property="body" column="body" />
        <result property="attachmentPath" column="attachment_path" />
        <result property="sentDate" column="sent_date" />
        <result property="isRead" column="is_read" />
    </resultMap>

    <!-- 이메일 등록 쿼리 -->
    <insert id="insertEmail" parameterType="com.e3i3.moduerp.email.model.dto.Email">
        INSERT INTO email (sender_email, recipient_email, subject, body, attachment_path, sent_date, is_read)
        VALUES (#{senderEmail}, #{recipientEmail}, #{subject}, #{body}, #{attachmentPath}, #{sentDate}, #{isRead})
    </insert>

    <!-- 모든 이메일 조회 쿼리 -->
    <select id="selectAllEmails" resultMap="resultEmail">
        SELECT * FROM email
    </select>

    <!-- 로그인 유저가 받은 이메일 조회 쿼리 -->
    <select id="selectEmailsByRecipient" parameterType="String" resultMap="resultEmail">
        SELECT * FROM email WHERE recipient_email = #{recipientEmail}
    </select>

    <!-- 로그인 유저가 보낸 이메일 조회 쿼리 -->
    <select id="selectEmailsBySender" parameterType="String" resultMap="resultEmail">
        SELECT * FROM email WHERE sender_email = #{senderEmail}
    </select>

    <!-- 로그인 유저가 보낸 이메일과 받은 이메일 조회 쿼리 -->
    <select id="selectEmailsByUser" parameterType="String" resultMap="resultEmail">
        SELECT * FROM email
        WHERE sender_email = #{userEmail} OR recipient_email = #{userEmail}
        ORDER BY sent_date DESC
    </select>

    <!-- 이메일 ID로 이메일 조회 쿼리 -->
    <select id="selectEmailById" parameterType="Integer" resultMap="resultEmail">
        SELECT * FROM email WHERE email_id = #{emailId}
    </select>

</mapper>
