<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpMgtMapper">

	<!-- EmpMgtDTO에 대한 resultMap -->
	<resultMap id="empMgtResult"
		type="com.e3i3.moduerp.empmgt.model.dto.EmpMgtDTO">
		<result property="empNo" column="EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="jobId" column="JOB_ID" />
		<result property="email" column="EMP_EMAIL" />
		<result property="phone" column="USER_PHONE" />
		<result property="address" column="ADDRESS" />
		<result property="bizNumber" column="BIZ_NUMBER" />
	</resultMap>



	<!-- 모든 직원 정보를 조회하는 쿼리 -->
	<select id="getAllEmployees" resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
	</select>



	<!-- 특정 EMP_NO로 직원 데이터를 조회하는 쿼리 -->
	<select id="selectEmployeeByEmpNo" parameterType="String"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE WHERE EMP_NO = #{empNo}
	</select>

	<!-- 새로운 직원 데이터를 삽입하는 쿼리 -->
	<insert id="createEmployee">
		INSERT INTO EMPLOYEE (
		EMP_NO, EMP_NAME,
		DEPARTMENT_ID, JOB_ID, EMP_EMAIL, USER_PHONE, ADDRESS, BIZ_NUMBER
		)
		VALUES (
		#{empNo}, #{empName}, #{departmentId}, #{jobId}, #{email},
		#{phone},
		#{address}, #{bizNumber}
		)
	</insert>

	<!-- 특정 EMP_NO로 직원 데이터를 업데이트하는 쿼리 -->
	<update id="updateEmployee"
		parameterType="com.e3i3.moduerp.empmgt.model.dto.EmpMgtDTO">
		UPDATE EMPLOYEE
		SET EMP_NAME = #{empName}, DEPARTMENT_ID
		= #{departmentId}, JOB_ID =
		#{jobId},
		EMP_EMAIL = #{email}, USER_PHONE =
		#{phone}, ADDRESS = #{address}
		WHERE EMP_NO = #{empNo}
	</update>

	<!-- 특정 EMP_NO로 직원 데이터를 삭제하는 쿼리 -->
	<delete id="deleteEmployeeByEmpNo" parameterType="String">
		DELETE FROM
		EMPLOYEE WHERE EMP_NO = #{empNo}
	</delete>

	<!-- 특정 BIZ_NUMBER로 직원 데이터를 조회하는 쿼리 -->
	<select id="getEmployeesByBizNumber" resultMap="empMgtResult"
		parameterType="string">
		SELECT * FROM EMPLOYEE WHERE BIZ_NUMBER = #{bizNumber}
	</select>

	<!-- 부서 및 직급 정보를 함께 조회하는 쿼리 -->
	<select id="getEmpNameDepart" parameterType="map"
		resultType="com.e3i3.moduerp.employee.model.dto.Employee">
		SELECT * FROM EMPLOYEE WHERE BIZ_NUMBER = #{bizNumber}
	</select>

	<!-- 사원명 조회 쿼리 -->
	<select id="getEmpNamesByBizNumber" resultType="string">
		SELECT EMP_NAME
		FROM EMPLOYEE WHERE BIZ_NUMBER = #{bizNumber}
	</select>

	<!-- 부서명 조회 쿼리 -->
	<select id="getDepartmentIdsByBizNumber" resultType="string">
		SELECT
		DEPARTMENT_ID FROM EMPLOYEE WHERE BIZ_NUMBER = #{bizNumber}
	</select>


	<select id="selectEmployeesByEmpName" parameterType="String"
		resultType="EmpMgtDTO">
		SELECT * FROM EMPLOYEE WHERE EMP_NAME = #{empName}
	</select>



	<!-- =============================================== -->
	<!-- 직원 필터링 관련 쿼리 -->
	<select id="selectEmployeesByEmpNameDate" parameterType="map"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER = #{bizNumber}
		AND
		EMP_NAME LIKE '%' || #{filterText} || '%'
		AND HIRE_DATE BETWEEN
		TO_DATE(#{startDate}, 'YYYY-MM-DD') AND
		TO_DATE(#{endDate},
		'YYYY-MM-DD')
		ORDER BY HIRE_DATE ASC
	</select>

	<select id="getEmployeesByFilter" parameterType="map"
		resultType="EmpMgtDTO">
		SELECT * FROM EMPLOYEE
		WHERE EMP_NAME = #{filterText}
	</select>

	<!-- 부서코드 필터 -->
	<select id="selectEmployeesByDepartmentId"
		parameterType="String" resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE WHERE DEPARTMENT_ID = #{departmentId}
	</select>


	<!-- 직급명 필터 -->
	<select id="selectEmployeesByJobId" parameterType="String"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE WHERE JOB_ID = #{jobId}
	</select>


	<select id="selectEmployeesByDepartmentIdDate"
		parameterType="map" resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER =
		#{bizNumber}
		AND DEPARTMENT_ID LIKE '%' || #{filterText} || '%'
		AND
		HIRE_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND
		TO_DATE(#{endDate}, 'YYYY-MM-DD')
		ORDER BY HIRE_DATE ASC
	</select>

	<select id="selectEmployeesByJobIdDate" parameterType="map"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER = #{bizNumber}
		AND
		JOB_ID LIKE '%' || #{filterText} || '%'
		AND HIRE_DATE BETWEEN
		TO_DATE(#{startDate}, 'YYYY-MM-DD') AND
		TO_DATE(#{endDate},
		'YYYY-MM-DD')
		ORDER BY HIRE_DATE ASC
	</select>

	<!-- 시작일만 입력받은 경우 -->
	<select id="selectEmployeesByFilterStartDate"
		parameterType="map" resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER =
		#{bizNumber}
		AND HIRE_DATE >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
		ORDER
		BY HIRE_DATE ASC
	</select>

	<!-- 종료일만 입력받은 경우 -->
	<select id="selectEmployeesByFilterEndDate" parameterType="map"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER = #{bizNumber}
		AND
		HIRE_DATE &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD')
		ORDER BY HIRE_DATE
		ASC
	</select>

	<!-- 날짜만 입력받은 경우 -->
	<select id="selectEmployeesByFilterOnlyDate" parameterType="map"
		resultMap="empMgtResult">
		SELECT * FROM EMPLOYEE
		WHERE BIZ_NUMBER = #{bizNumber}
		AND
		HIRE_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND
		TO_DATE(#{endDate}, 'YYYY-MM-DD')
		ORDER BY HIRE_DATE ASC
	</select>

</mapper>
