<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
<!-- namespace (이름공간) == 패키지와 같음 : 매퍼 영역에 이름을 붙여준 것으로 이해하면 됨 -->
	
	<resultMap type="Notice" id="resultNotice">
		<result property="noticeSeq" column="NOTICE_SEQ" />
		<result property="uuID" column="UUID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="writeDate" column="WRITE_DATE" />
		<result property="noticeBody" column="NOTICE_BODY" />
		<result property="noticeImp" column="NOTICE_IMP" />
		<result property="viewCnt" column="VIEW_CNT" />
		<result property="attachFile" column="ATTACH_FILE" />
	</resultMap>


	<!-- 전체 공지사항 수 조회 -->
    <select id="getNoticeCount" resultType="int">
        SELECT COUNT(*) FROM notice
    </select>
    
    <!-- 공지사항 리스트 조회 -->
    <select id="getNoticeList" resultType="com.e3i3.moduerp.notice.model.dto.Notice">
    SELECT * FROM (
        SELECT 
            notice.*, 
            ROW_NUMBER() OVER (ORDER BY write_date DESC) AS row_num
        FROM notice
    ) WHERE row_num BETWEEN #{start} AND #{end}
</select>


    
    <!-- 공지사항 상세 조회 -->
    <select id="getNoticeById" parameterType="int" resultType="com.e3i3.moduerp.notice.model.dto.Notice">
    SELECT * FROM notice
    WHERE NOTICE_SEQ = #{noticeId}
	</select>
	
	<insert id="insertNotice" parameterType="com.e3i3.moduerp.notice.model.dto.Notice">
    INSERT INTO notice (NOTICE_SEQ, UUID, DEPARTMENT_ID, NOTICE_TITLE, WRITE_DATE, NOTICE_BODY, NOTICE_IMP, VIEW_CNT, ATTACH_FILE)
    VALUES (NOTICE_SEQ.NEXTVAL, #{uuID}, #{departmentId}, #{noticeTitle}, SYSDATE, #{noticeBody}, #{noticeImp}, 0, #{attachFile})
	</insert>
	
	<update id="updateNotice" parameterType="com.e3i3.moduerp.notice.model.dto.Notice">
    UPDATE notice
    SET NOTICE_TITLE = #{noticeTitle},
        NOTICE_BODY = #{noticeBody},
        NOTICE_IMP = #{noticeImp}
    WHERE NOTICE_SEQ = #{noticeSeq}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
    DELETE FROM notice WHERE NOTICE_SEQ = #{noticeId}
	</delete>
	
	
</mapper>










