<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayLogMapper">

	<!-- PAY_LOG 테이블의 결과를 PayLogDTO로 매핑 -->
	<resultMap id="payLogResultMap"
		type="com.e3i3.moduerp.paylog.model.dto.PayLogDTO">
		<id property="logId" column="LOG_ID" />
		<result property="payId" column="PAY_ID" />
		<result property="refundId" column="REFUND_ID" />
		<result property="status" column="STATUS" />
		<result property="payDate" column="PAY_DATE" />
		<result property="details" column="DETAILS" />
		<result property="bizNumber" column="BIZ_NUMBER" />
	</resultMap>

	<!-- PAY_LOG에 삽입하는 매퍼 -->
	<insert id="insertPayLog"
		parameterType="com.e3i3.moduerp.paylog.model.dto.PayLogDTO">
		INSERT INTO PAY_LOG (
		LOG_ID, PAY_ID, BIZ_NUMBER, STATUS, PAY_DATE, DETAILS
		)
		VALUES (
		#{logId}, #{payId}, #{bizNumber}, #{status}, #{payDate}, #{details}
		)
	</insert>

</mapper>
