/.metadata/
# Java
*.class


# IDE
.project

# 로그 파일
*.log


#서버
/Servers2/
/Servers/


#추가
/moduerp/.settings/

/moduerp/.classpath

/moduerp/.springBeans

/moduerp/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

/moduerp/target/**/MANIFEST.MF
