<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseordersMapper">

    <resultMap id="purchaseordersResult"
        type="com.e3i3.moduerp.purchaseorders.model.dto.PurchaseordersDTO">
        <result property="orderId" column="ORDER_ID" />
        <result property="itemCode" column="ITEM_CODE" />
        <result property="accountNo" column="ACCOUNT_NO" />
        <result property="quantity" column="QUANTITY" />
        <result property="supplyPrice" column="SUPPLY_PRICE" />
    </resultMap>

    <select id="selectAllPurchaseorders"
        resultMap="purchaseordersResult">
        SELECT * FROM PURCHASE_ORDERS
    </select>

</mapper>
